{% load static %}
{% load i18n %}

<nav id="sidebar" class="lg:w-[20rem] w-[16rem] h-screen flex flex-col justify-between lg:sticky lg:right-0 top-0 fixed right-[-1000px] z-20 lg:overflow-y-auto overflow-y-scroll lg:bg-gray-100 bg-gray-800 sidebar">
    <div>
        <div class="lg:bg-gray-300 bg-gray-400 flex flex-col rounded-bl-[40px] gap-8 pt-12 pb-8 lg:pr-14 pr-6 pl-5">
            <section class="flex flex-row justify-between pr-1">
                <a href="{% url "main:main" %}" title="{% translate "Capsule" %}">
                    <div class="flex flex-row gap-3">
                        <img src="{% static "img/pill.png" %}" alt="Capsule" width="36" height="36">
                        <h3 class="font-iransans-extrablack text-3xl text-gray-700">{% translate "Capsule" %}</h3>
                    </div>
                </a>
            </section>
            <div class="max-w-[12rem] flex flex-row items-center mt-2 px-1">
                <a href="{% url "account:profile" %}" class="flex flex-row items-center gap-3 text-slate-800 hover:text-slate-500" title="{% translate "User account" %}">
                    {% if request.user.image %}
                        <img class="min-w-[35px] rounded-full" src="{{ request.user.image.url }}" alt="User image" width="25" height="25">
                    {% else %}
                        <img class="min-w-[35px]" src="{% static "img/profile.png" %}" alt="User image" width="25" height="25">
                    {% endif %}
                    <!-- <i class="bi bi-person-circle text-3xl" style="-webkit-text-stroke: 0.5px;"></i> -->
                    <h3 class="max-w-[18rem] text-sm text-right flex-wrap">{{ request.user.full_name }}</h3>
                </a>
            </div>
        </div>
        <ul class="flex flex-col gap-4 pt-12 pb-8 lg:pr-14 pr-6">
            <li>
                {% if request.resolver_match.url_name == "dashboard" or request.resolver_match.url_name == "profile" %}
                    <a href="{% url "console:dashboard" %}" class="lg:text-slate-800 text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-house-fill bg-slate-300 rounded-lg px-2.5 pt-2 pb-1" style="-webkit-text-stroke: 0.5pt;"></i>
                        <h4 class="font-bold">{% translate "Dashboard" %}</h4>
                        <i class="bi bi-caret-left-fill"></i>
                    </a>
                {% else %}
                    <a href="{% url "console:dashboard" %}" title="{% translate "Dashboard" %}" class="text-gray-400 hover:text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-house rounded-lg px-2.5 pt-2 pb-1" style="-webkit-text-stroke: 1px;"></i>
                        <h4 class="font-bold">{% translate "Dashboard" %}</h4>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if request.resolver_match.url_name == "passwords" or request.resolver_match.url_name == "add-pass" or request.resolver_match.url_name == "edit-pass" or request.resolver_match.url_name == "del-pass" %}
                    <a href="{% url "console:passwords" %}" class="lg:text-slate-800 text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-shield-lock-fill bg-slate-300 rounded-lg px-2.5 pt-2 pb-1 mt-1"></i>
                        <h4 class="font-bold">{% translate "Passwords" %}</h4>
                        <i class="bi bi-caret-left-fill"></i>
                    </a>
                {% else %}
                    <a href="{% url "console:passwords" %}" title="{% translate "Passwords" %}" class="text-gray-400 hover:text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-shield-lock rounded-lg mt-1 px-2.5 pt-2 pb-1" style="-webkit-text-stroke: 0.6pt;"></i>
                        <h4 class="font-bold">{% translate "Passwords" %}</h4>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if request.resolver_match.url_name == "cards" or request.resolver_match.url_name == "add-card" or request.resolver_match.url_name == "edit-card" or request.resolver_match.url_name == "del-card" %}
                    <a href="{% url "console:cards" %}" class="lg:text-slate-800 text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-credit-card-fill bg-slate-300 rounded-lg px-2.5 pt-2 pb-1 mt-1" style="-webkit-text-stroke: 0.5pt;"></i>
                        <h4 class="font-bold">{% translate "Cards" %}</h4>
                        <i class="bi bi-caret-left-fill"></i>
                    </a>
                {% else %}
                    <a href="{% url "console:cards" %}" title="{% translate "Cards" %}" class="text-gray-400 hover:text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-credit-card rounded-lg mt-1 px-2.5 pt-2 pb-1" style="-webkit-text-stroke: 0.45pt;"></i>
                        <h4 class="font-bold">{% translate "Cards" %}</h4>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if request.resolver_match.url_name == "archives" %}
                    <a href="{% url "console:archives" %}" class="lg:text-slate-800 text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-bookmark-fill bg-slate-300 rounded-lg px-2.5 pt-2 pb-1" style="-webkit-text-stroke: 0.7pt;"></i>
                        <h4 class="font-bold">{% translate "Archives" %}</h4>
                        <i class="bi bi-caret-left-fill"></i>
                    </a>
                {% else %}
                    <a href="{% url "console:archives" %}" title="{% translate "Archives" %}" class="text-gray-400 hover:text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-bookmark rounded-lg px-2.5 pt-2 pb-1" style="-webkit-text-stroke: 0.8pt;"></i>
                        <h4 class="font-bold">{% translate "Archives" %}</h4>
                    </a>
                {% endif %}
            </li>
            <li>
                <form action="{% url "account:logout" %}" method="POST" title="{% translate "Exit" %}">
                    {% csrf_token %}
                    <button type="submit" class="text-gray-400 hover:text-slate-600 flex flex-row items-center gap-8">
                        <i class="bi bi-door-open rounded-lg px-2.5 pt-2 pb-1" style="-webkit-text-stroke: 0.5pt;"></i>
                        <span class="font-bold">{% translate "Exit" %}</span>
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <!-- Generate password for first time -->
    <div id="generate-pass" class="w-full lg:px-10 px-8 pb-10 mt-20">
        <a href="#" onclick="generate_pass()"
           class="bg-slate-700 max-w-[18rem] flex flex-row items-center gap-2 rounded-full p-2 btn-shadow" title="{% translate "Random password" %}">
            <i class="bi bi-shield-lock bg-slate-500 text-amber-300 text-2xl rounded-full px-2.5 pt-2 pb-0.5"></i>
            <h5 class="text-white font-bold">{% translate "Generate pass" %}</h5>
        </a>
    </div>

    <!-- generated password and try again -->
    <div id="regenerate-pass" class="w-full lg:px-10 px-8 pb-10 mt-20 hidden">
        <div class="bg-slate-700 max-w-[18rem] flex flex-row items-center gap-2 rounded-full p-2">
            <a href="#" onclick="generate_pass()"
               class="bi bi-arrow-clockwise bg-slate-500 text-amber-300 text-2xl rounded-full px-2.5 pt-2 pb-0.5"
               title="{% translate "Random password" %}"></a>
            <h5 id="pass-field" class="text-white text-sm font-bold font-nunito ltr mt-0.5"></h5>
        </div>
    </div>
</nav>
