{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Capsule dashboard" %}{% endblock %}

{% block content %}
    <!-- Start main section -->
    <main class="sm:px-20 mt-12 px-4">
        <!-- Start Profile form sections -->
        <div class="pb-4 md:mt-12 mt-8">
            <section>
                <h2 class="text-slate-700 sm:text-xl text-lg font-vazir fw-700 text-right">حساب کاربری</h2>
            </section>

            <section class="w-full border-2 border-gray-300 rounded-xl p-4 mt-8">
                <!-- Start user profile form -->
                <form method="POST" id="form" enctype="multipart/form-data" class="flex flex-col gap-4 text-slate-700">
                    {% csrf_token %}

                    <label for="user_password" class="flex flex-col w-80 gap-1">
                        <span class="px-1">
                            رمز عبور فعلی
                        </span>
                        {{ form.user_password }}

                        <span class="text-xs text-red-600 text-right px-1">{{ form.user_password.errors }}</span>
                    </label>

                    <div class="w-full flex flex-wrap gap-4 mt-6">
                        <label for="username" class="flex flex-col flex-grow gap-1">
                            <span class="px-1">
                                رمز عبور جدید
                            </span>
                            <span class="relative">
                                {{ form.password }}
                                <span class="absolute inset-y-0 left-0 flex items-center px-5 -top-2">
                                    <button type="button" id="pass-toggle-btn"
                                            class="bi bi-eye-fill h-4 w-4 text-xl hover:text-slate-400">
                                    </button>
                                </span>
                            </span>

                            <span class="text-xs text-red-600 text-right px-1">{{ form.password.errors }}</span>
                        </label>
                        <label for="password" class="flex flex-col flex-grow gap-1">
                            <span class="px-1">
                                تکرار رمز عبور
                            </span>
                            <span class="relative">
                                {{ form.password2 }}
                                <span class="absolute inset-y-0 left-0 flex items-center px-5 -top-2">
                                    <button type="button" onclick="pass_toggle(event)"
                                            class="bi bi-eye-fill h-4 w-4 text-xl hover:text-slate-400">
                                    </button>
                                </span>
                            </span>

                            <span class="text-xs text-red-600 text-right px-1">{{ form.password2.errors }}</span>
                        </label>
                    </div>

                    <div class="flex justify-end gap-4 text-slate-100 px-1 mt-4">
                        <button type="submit" class="bg-slate-700 hover:bg-slate-600 rounded-lg font-bold px-3 py-1.5">ثبت</button>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <!-- .End Mian section -->
{% endblock %}
