{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fa">

<head>
    {% include "includes/head_references.html" %}
    <title>{% translate "Password reset" %}</title>
</head>

<body class="h-screen w-screen bg-gray-100 flex flex-col items-center gap-2 sm:px-14 py-14" dir="rtl">
    <h1 class="text-center text-4xl text-gray-700 font-vazir-medium">کپسول</h1>

    <main class="sm:w-96 w-10/12 bg-gray-300 flex flex-col items-center justify-center rounded-xl p-8 md:mt-20 mt-12">
        <h3 class="text-center">{% translate "Your password changed successfully. Now you can login." %}</h3>

        <section class="text-slate-800 flex flex-row flex-wrap justify-center gap-1 mt-10">
            <a class="hover:text-slate-500 underline" href="{% url "account:login" %}" title="Login">ورود</a>
        </section>
    </main>
</body>
</html>
