{% extends "base.html" %}
{% load filters %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Capsule dashboard" %}{% endblock %}

{% block content %}
    <main class="sm:px-20 mt-12 px-4">
        <section>
            <div class="flex flex-row justify-between items-center gap-4">
                <h2 class="text-slate-700 sm:text-xl text-lg font-bold text-right">{% translate "Passwords" %}</h2>
                <a href="{% url "console:add-pass" %}" title="{% translate "Create new" %}">
                    <span class="bg-slate-700 text-slate-100 rounded-full flex items-center gap-1 py-0.5 px-2">
                        <span class="sm:text-base text-xs font-bold">{% translate "New" %}</span>
                        <i class="bi bi-plus text-amber-300 mt-1" style="-webkit-text-stroke: 0.7pt;"></i>
                    </span>
                </a>
            </div>
        </section>

        <section class="mt-8 pb-2">
            <ul class="w-full flex flex-col gap-4">
                {% for password in object_list %}
                    <li class="w-full flex items-center gap-1">
                        <button class="bi bi-bookmark text-slate-500 hover:text-slate-800 text-xl rounded-lg px-2 pt-1"
                                title="{% translate "Add to archive" %}" style="-webkit-text-stroke: 0.8pt;" type="button"
                                onclick="archive(event, {{ password.pk }})">
                        </button>
                        <a href="{% url "console:edit-pass" password.pk %}"
                           class="w-full flex flex-row items-center justify-between gap-2 rounded-lg py-2 px-3 bg-gray-200 hover:bg-gray-300 focus:bg-gray-300 hover:shadow-md">
                            <div class="flex flex-row sm:gap-6 gap-2 flex-wrap items-center text-slate-700">
                                <h4 class="text-base text-right font-bold min-w-[15ch] whitespace-normal">
                                    {% if password.address %}
                                        {{ password.address }}
                                    {% elif password.title %}
                                        {{ password.title }}
                                    {% else %}
                                        {% translate "No title" %}
                                    {% endif %}
                                </h4>
                                <h4 class="text-sm ltr lg:max-w-[30ch] sm:max-w-[27] max-w-[20ch] overflow-hidden text-ellipsis whitespace-nowrap">
                                    {% if password.type == "p" %}
                                        {{ password.username|split_phone }}
                                    {% else %}
                                        {{ password.username }}
                                    {% endif %}
                                </h4>
                            </div>
                            <div class="flex items-center">
                                {% if password.difficulty == "h" %}
                                    <i class="bi bi-shield-check text-slate-100 bg-blue-700 text-xl rounded-lg px-1.5 pt-1"
                                        style="-webkit-text-stroke: 0.3pt;" title="{% translate "Hard" %}">
                                    </i>
                                {% elif password.difficulty == "g" %}
                                    <i class="bi bi-shield text-slate-100 bg-emerald-700 text-xl rounded-lg px-1.5 pt-1"
                                        style="-webkit-text-stroke: 0.3pt;" title="{% translate "Good" %}">
                                    </i>
                                {% else %}
                                    <i class="bi bi-shield-exclamation text-slate-100 bg-red-700 text-xl rounded-lg px-1.5 pt-1"
                                        style="-webkit-text-stroke: 0.3pt;" title="{% translate "Weak" %}">
                                    </i>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
